/* regole generali --------------------------------*/
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style-type: none;
}
h2{
  text-align: center;
}
button{
  cursor: pointer;
}
a,
a:link,
a:visited{
  color: #063bc5;
}
a:hover{
  text-decoration: none;
}
/* HEADER ------------------------------------------*/
nav{
  height: 60PX;
  background: white!important;
  border: none!important;
}
nav img{
  margin-top: 4px;
}
nav ul li{
  display: inline-block;
  float: left;
  padding: 20px 10px 0;
}
nav button{
  color:#063bc5;
  border: 1px solid #063bc5;
  background-color: white;
  border-radius: 4px;
  padding: 5px;
  margin: 5px;
}
nav span{
  color:#063bc5;
  font-size: 20px;
  display: inline-block;
  margin-top: 15px;
}
/* MAIN ---------------------------------------------*/
/* jumbotron ----------------------------*/
#jumbotron{
  margin-top: 50px;
  background-image: url(../img/jumbotrone.jpg);
  color: white;
  padding-bottom: 50px;
}
#jumbotron p{
  color: #b5bffb;
  font-size: 16px;
}
.form-jumbotron{
  background-color: white;
  border-radius: 4px;
  color: black;
  margin-top: 50px;
  text-align: center;
}
h1{
  font-size: 54px;
  padding-top: 40px;
}
.form-jumbotron h2{
  font-size: 26px;
  padding: 20px 20px 0;
  color:#031B4E;
}
.form-jumbotron span{
  color:#063bc5;
}
input{
  display: block;
  width: 94%;
  margin: 1% 3% 1% 3%;
  border-radius: 4px;
  border: 1px solid #F1F1F1;
  padding: 1%;
}
.button-jumbotron-1{
  display: block;
  width: 94%;
  margin: 1% 3% 1% 3%;
  background-color: #6297f3;
  border: 1px solid #063bc5;
  color: #fff;
  padding: 1%;
  border-radius: 4px;
  font-size: 12px;
}
.button-jumbotron-2{
  display: block;
  width: 94%;
  margin: 1% 3% 1% 3%;
  background-color: #fff;
  border: 1px solid #F1F1F1;
  padding: 1%;
  border-radius: 4px;
  font-size: 12px;
  position: relative;
  background-image: url(../img/google-icon.png);
  background-size: contain;
  background-repeat: no-repeat;
}
#jumbotron .form-jumbotron p{
  color: black;
  font-size: 10px;
  padding: 10px 0 25px;
}
#jumbotron .form-jumbotron p a{
  text-decoration: underline;
}
#jumbotron .form-jumbotron img{
  width: 5%;
  position: absolute;
  top: 2px;
  left: 5px;
}
/* costumers ---------------------------*/
#costumers{
  background-color: #F3F5F9;
  padding-bottom: 25px;
}
#costumers h4{
  text-align: center;
  color: #929DB4;
  text-transform: uppercase;
  font-size: 14px;
  padding: 20px;
}
#costumers img{
  display: inline-block;
  vertical-align: middle;
  width: 10%;
  margin-right: 5px;
}
.container-img img:first-child{
  margin-left: 20%;
}
/* .costumers-img img{
  width: 90%;
  min-height: 80px;
} */
#costumers a{
  text-align: center;
  display: block;
}
/* deploy --------------------------------*/
#deploy{
  padding-bottom: 35px;
}
#deploy h2{
  color:#031B4E;
  text-align: center;
  padding-top: 30px;

}
.p-principale{
  text-align: center;
  color: #4E5F83;
  font-size: 16px;
  margin-bottom: 50px;
}
#deploy ul{
  border-left: 1px solid #E5E8ED;
  padding-left: 10px;
  margin-bottom: 33px;
}
#deploy ul li{
  cursor: pointer;
  padding: 10px 0;
  color: #929DB4;
  width: 10%;
}
#deploy ul li:hover{
  color: #031B4E;
}
#deploy .cube h5{
  color:#031B4E;
  text-align: left;
}
#deploy .cube p{
  text-align: left;
  color: #4E5F83;
  padding-bottom: 15px;
}
/* designed ------------------------------*/
#designed,
#development{
  background-color: #F3F5F9;
  text-align: center;
  padding: 40px 0;
}
#designed h2,
#development h2{
  color:#031B4E;
  padding-bottom: 20px;
}
.designed-p,
#development p{
  text-align: center;
  color: #4E5F83;
  font-size: 16px;
  margin-bottom: 40px;
}
#designed img{
  width: 50%;
  padding-bottom: 20px;
}
.designed-p-img{
  padding-bottom: 5px;
  margin-bottom: 0;
  color: #4E5F83;
  font-size: 13px;
}
.designed-content span{
  font-size: 11px;
  color: #0069ff;
  padding: 2px;
  cursor: pointer;
}
.frecce{
  font-size: 40px!important;
  color: #031B4E!important;
  padding: 0 15px!important;
}
/* features -------------------------------*/
#features{
  padding: 50px 0;
}
#features h2{
  color:#031B4E;
  padding-bottom: 25px;
}
#features .cube h5{
  color:#031B4E;
  text-align: left;
}
#features .cube p{
  text-align: left;
  color: #4E5F83;
  min-height: 114px;
}
#features span{
  display: inline-block;
  text-align: left;
  font-size: 13px;
  margin-bottom: 20px;
}
/* service --------------------------------*/
#service{
  background-color: #2229C6;
  color: white;
  padding: 50px 0;
}
#service h2{
  padding-bottom: 20px;
}
#service table{
  width: 100%;
  margin-bottom: 30px;
}
#service table tr{
  border-bottom: 1px solid white;
}
#service table tr td,
#service table tr th{
  padding: 20px 50px 5px 0px;
  font-size: 11px;
}
#service td:last-child{
  padding-left: 110px;
  color: #05aacc;
}
#service tr:last-child{
  border-bottom: none;
}
#service table tr td:last-child{
  padding-right: 15px;
}
#service table tr th{
padding-left: 15px;
}
/* development ----------------------------*/
#development img{
  width: 55%;
  padding-bottom: 20px;
}
/* started --------------------------------*/
#started{
  background-image: url(../img/sfondo-blu-gradiente.png);
  color: white;
  padding: 50px 0;
}
.started-content{
  text-align: center;
}
#started button{
  color: #063bc5;
  margin-top: 20px;
  padding: 10px;
  border-radius: 4px;
  font-size: 15px;
}
#started button:hover{
  background-color:rgba(255,255,255,0.8);
}
/* FOOTER ---------------------------------------------*/
footer{
  background-color: #041b4b;
  padding: 50px 0;
  color: #838ca6;
}
footer h4{
  color: white;
}
footer ul li{
  padding-bottom: 10px;
}
footer span{
  font-size: 20px;
  padding-right: 5px;
}
footer ul li:hover,
footer span:hover{
  color: white;
  cursor: pointer;
}
/* MEDIA QUERY -------------------------------------------------------*/
/* versione extra mobile xs */

@media screen and (max-width:768px) {
 .frecce{
   display: none;
 }
 nav span{
   display: block;
 }
 nav ul,
 nav button{
   display: none;
 }
 #jumbotron p,
 .p-principale,
 .designed-p{
   font-size: 18px;
 }
 #deploy ul li,
 .cube p,
 footer ul li,
 footer p,
 #costumers h4{
   font-size: 16px;
 }
 h5{
   font-size: 17px;
 }
 #service table tr th,
 #service table tr td{
   font-size: 13px;
 }
 #costumers img{
   width: 14%;
 }
 .container-img img:first-child{
   margin-left: 3%;
 }

}

/* versione mobile sm */

@media screen and (min-width:769px) and (max-width:992px){

  .frecce{
    display: none;
  }
  nav span{
    display: block;
  }
  nav ul,
  nav button{
    display: none;
  }
  #jumbotron p,
  .p-principale,
  .designed-p{
    font-size: 17px;
  }
  #deploy ul li,
  .cube p,
  footer ul li,
  footer p,
  #costumers h4{
    font-size: 15px;
  }
  h5{
    font-size: 16px;
  }
  #service table tr th,
  #service table tr td{
    font-size: 12px;
  }
  #costumers img{
    width: 12%;
  }
  .container-img img:first-child{
    margin-left: 10%;
  }

}

/* versione tablet md */

@media screen and (min-width:993px) and (max-width:1199px){

  nav span{
    display: block;
  }
  nav ul,
  nav button{
    display: none;
  }


}
/* versione dekstop lg */

@media screen and (min-width:1200px){

  nav span{
    display: none;
  }
}
